body {
    margin: 0;
    background-color: #dddddd;
    font-family: 'Noto Sans KR', sans-serif;

}

.container {
    text-align: center;
    width: 400px;
    height: 450px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #efefef
}

.tit {
    font-size: 25px;
    color: #ff1493;
    font-weight: 800;
    background-color: #ffffff;
    border-radius: 25px 25px 0 0;
    text-align: left;
    padding: 45px 0 43px 0px;
    border-bottom: 4px solid #dddddd;


}

.list>div {
    font-size: 10 px;
    font-weight: 600;
    background-color: #ffffff;
    border: 4px solid #aaaaaa;
    border-radius: 4px;
    margin: 15px 30px;
    width: 333px;
    height: 40px;
    box-sizing: border-box;
    text-align: left;
    color: #3d3d3d;
    padding-left: 10px;
    padding-top: 3px;


}

.list {
    margin-top: 30px;
}

div.list-two {
    color: #1e91ff;
    border: 4px solid #1e91ff;
}

.sq {
    background-color: #ff1493;
    display: inline-block;
}

.tit-txt {
    display: inline-block;
    margin-left: 23px;

}